#hero {
  background-image: url("./assets/heroImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 20px;
}

.overlay p{
    font-size: 40px;
    text-decoration: underline;
    padding: 10px;
}